[submodule "extern/raylib"]
	path = extern/raylib
	url = https://github.com/raysan5/raylib
[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui/
[submodule "extern/rlImGui"]
	path = extern/rlImGui
	url = https://github.com/raylib-extras/rlImGui.git
